@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Roboto:wght@100;300&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body
{
    overflow-x: hidden;

}
html{
    scroll-behavior: smooth;
    background-color: #197278;   
}

header
{
    width:100%;
    height:100vh;
}

.container
{
    max-width: 120rem;
    width:90%;
    margin: auto 70px;
    position:fixed;
    align-items: center;
}

.menu-toggle
{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

nav
{
    padding-top:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-bottom: 1px solid #EDDDD4;
    background-color: #197278;
    font-family: 'Roboto', sans-serif;
}

.logo
{
    display: flex;
    width:50px;
    grid-column:1/2;
    margin-left: 40px;   
    filter: #EDDDD4(100%);
}

nav ul
{
    display: flex;

}

nav ul li
{
    list-style-type: none;
    /* padding:20px; */
    /* margin: 0 2rem; */
    position: relative;
    letter-spacing:2px;
    color: #EDDDD4;
}

nav a
{
    text-decoration: none;
    color: #EDDDD4;
    padding:1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing:2px;
}

@media screen and (max-width: 700px){
	.menu-toggle{
		display: block;
	}
	nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}
	nav ul{
		flex-direction: column;
	}
	nav ul li{
		margin-top: 5rem;
	}
	nav ul li a{
		margin: 0;
		font-size: 2.5rem;
	} 
 .menu-open,
  nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  } 
}

.hero
{
    max-width: 1240px;
    margin:auto;
}

.hero img
{
   padding-top: 125px; 
   width:100%;
   height:100%;
   margin:auto;
}

.title
{
    position: absolute;
    top:80%;
    left:15%;
    transform: translate(-20%, -70%);
    color: #197278;
    font-family: 'Libre Caslon Display', serif;
    font-weight: 300;
    font-size: 36px;
}

.about
{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    padding: 30px;
    font-size: 28px;  
}

.about h2
{
    font-family: 'Libre Caslon Display', serif;
    text-align: center;
    padding-bottom:18px;
    color:#6e2b22;
    letter-spacing: 10px;
    font-size: 40px;
}

.about p
{
    font-size: 24px;
    color:#6e2b22;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
}

.btn-secret
{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 35px; 
    font-family: 'Libre Caslon Display', serif;

}

.btn-secret h3
{
    background-color: #197278;
    border: none;
    color:#EDDDD4;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    outline:none;
}

.skills-list
{
    padding-top: 100px;
    width: 500px;
    max-width: 1240px;
    margin: auto; 
}

.skills-list h2
{
   text-align: center;
   color:#6e2b22;
   font-family: 'Libre Caslon Display', serif;
   font-size: 40px;
}

.skills-list ul
{
    margin-left: 60px;
    padding:15px;
    list-style: none;
    columns: 100px 2;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.skills-list li
{
    padding: 10px;
    color:#6e2b22;
}

.skills-list h5
{
    margin-left:-30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.skills-list img
{
    height: 30px;
    padding: 5px;
}


.projects-txt
{
    padding-top: 150px;
    display: flex;
    justify-content: center; 
    max-width: 1240px;
    margin: auto;
    font-family: 'Libre Caslon Display', serif;
    font-weight: 400;
    font-size:40px;
    letter-spacing: 15px;
    padding-bottom: 20px;
    color:#6e2b22;
}
.projects
{
    display: flex;
    justify-content: center; 
    padding-top: 20px;
    padding-bottom: 270px;
}

.projects ul
{
    list-style: none;
    max-width: 1240px;
    margin: auto;
}

.projects img
{
    width:100%;
    padding: 10px;
    margin-top: 30px;

}

h1
{
   text-align: center;
   letter-spacing: 15px;
}


.contact
{ 
    display: grid;
    grid-template-rows: 20%, 1fr, 20%;
    height: 500px;
    max-height: 500px;
    max-width: 1440px;
    margin: auto;
    position: relative;
    padding: 40px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    color:#6e2b22;
    font-family: 'Libre Caslon Display', serif;
    font-weight: 300;
}

.contact p
{
   
    padding: 15px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.buttons
{
    max-width: 1240px;
    margin: auto;
    margin-top: 60px;
    top:50%;
    transform: translateY(-50%);
    width:100%;
    text-align: center;
}

.btn
{
    display: inline-block;
    width:90px;
    height: 90px;
    background: #EDDDD4;
    margin: 15px;
    border-radius: 30%;
    box-shadow: 0 10px 15px -2px #283D3B;
    color: #C44536;
    overflow: hidden;
    position: relative;
}

.btn i
{
    line-height: 90px;
    font-size: 24px;
    transition: 0.2s linear;
}

.btn:hover i
{
    transform: scale(1.3);
    color: #f1f1f1;
}

.btn::before
{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #C44536;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn:hover::before
{
animation: aaa 0.7s 1;
top: -10%;
left:-10%;
}

@keyframes aaa
{
    0%{
        left: -110%;
        top: 90%;
    }50%{
        left: 10%;
        top:-30%;
    }100%{
        top: -10%;
        left: -10%;
    }

}

.email
{
    display: grid;
    grid-template-columns: 10% 1fr .5fr .5fr 10%;
    justify-content: bottom;
    align-content: bottom;
    background-color: #197278;

}

.email .middleline
{
    border-left: 1.6px solid;
    color: #EDDDD4;
    height: 100px;
    grid:3/4;
    align-content: center;
    margin-bottom: 0;
}

.text
{
    color: #EDDDD4;
    grid-column: 2/ 3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: 40px 20px;
}

.emailme
{
    grid-column: 4/5;
    align-content: center; 
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
}

.emailme button 
{
    background-color: #197278;
    border: none;
    color:#EDDDD4;
    padding: 40px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.618fr;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    outline:none;
    font-size: 1.1rem;
}

[class*="col-"] {
    width: 100%;
  }
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }